@import '../../colors.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2rem;
  width: 70%;
  font-family: 'Baloo 2';

  .text {
    text-align: justify;
    font-size: 1.1rem;
    font-weight: 800;
    color: $colorBlueDark;
  }

  .arrowDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $colorGreenDark;
    margin-right: 1.5rem;
    text-decoration: none;

    .back {
      font-size: 1.6rem;
      font-weight: 600;
    }

    .icon {
      height: 3rem;
      width: 3rem;
    }
  }
}
