@import '../../colors.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  width: 70%;
  font-family: 'Baloo 2';

  .text {
    text-align: justify;
    font-size: 1.1rem;
    font-weight: 800;
    color: $colorBlueDark;

    @media screen and (min-width: 1024px) {
      width: 50%;
    }
  }

  strong {
    font-size: 1.4rem;
  }

  .arrowDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $colorGreenDark;
    margin-right: 1.5rem;
    text-decoration: none;

    .back {
      font-size: 1.4rem;
      font-weight: 600;
    }

    .icon {
      width: 2.25rem;
      height: 2.25rem;
    }
  }
}
