@import '../../colors.scss';
.trollContainer {
  position: relative;
  width: 100%;
  height: 12rem;
  overflow: hidden;
  margin-top: -1rem;
}
.trollLeft,
.trollMiddle,
.trollRight {
  width: 12rem;
  max-width: 400px;
}
.trollLeft {
  position: absolute;
  left: 0;
  bottom: -2rem;
  transform: translateX(-50%) rotate(36.25deg);
  width: 10rem;
}

.trollMiddle {
  position: absolute;
  bottom: -4rem;
  left: 50%;
  transform: translateY(00%) translateX(-54%) rotate(0deg);
  width: 12rem;
}

.trollRight {
  position: absolute;
  right: 0;
  bottom: -2rem;
  transform: translateX(25%) rotate(-17.4deg);
  width: 9rem;
}
