.progressBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 2.9rem;
  margin: 0 auto;
  min-width: 300px;

  @media screen and (min-width: 1024px) {
    min-width: 800px;
  }

  &__container {
    display: grid;
    grid-template-columns: 6rem 1fr;
    align-items: center;
    gap: 1.75rem;
    margin: 0;
  }

  &__title {
    font-size: 1.2rem;
    font-weight: 800;
    text-align: end;
    line-height: 2rem;
    font-family: 'Baloo 2', sans-serif;
    width: fit-content;
    justify-self: flex-end;
  }
}
