@import '../../colors.scss';

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Baloo 2';
  color: $colorOrange;
  font-weight: 900;

  .scoreDiv {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    height: 4rem;

    .percentage {
      display: flex;
      font-size: 3.5rem;
    }

    .trollScore {
      display: flex;
      font-size: 1.6rem;
      line-height: 0.9;
    }
  }

  .isTrollDiv {
    display: flex;
    text-align: center;

    .trollo {
      font-size: 2.2rem;
    }
  }
}
